* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto,sans-serif;
    line-height: 1.6;
}

.custom-button{
    padding: 1.25rem 2.5rem;
    background-color: #e71a23;
    color: white;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
}

.custom-display{
    display: flex;
    justify-content: space-between;
}

.header-section{
    height: 53rem;
    overflow: hidden;
    background: url(../images/header.jpg) no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: 0 4.375rem;
    background-repeat: no-repeat;
}

header{
    align-items: center;
    background-color: white;
    padding: 1.25rem 6.25rem;
}

.header-text{
    margin: 15.625rem 6.25rem;
    line-height: 1.2;
    color: white;
}

.header-text h3{
    font-size: 3.75rem;
    font-weight: normal;
}

.header-text h1{
    font-size: 5.625rem;
    font-weight: 900;
    padding-bottom: 1.5625rem;
    letter-spacing: .4375rem;
}

.header-text hr{
    width: 53%;
    height: .75rem;
    background-color: white;
    border: none;
    margin-bottom: 2.5rem;
}

.header-text-image{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.header-text-image img{
    padding-bottom: 1.25rem;
}

.services{
    text-align: center;
    margin: auto;
    background-color: #f2f2f2;
    padding: 9.375rem 6.25rem 5rem 6.25rem;
}

.services h3{
    font-weight: lighter;
    padding-bottom: 1.25rem;
    color: grey;
}

.services h1{
    font-weight: bolder;
    font-size: 3.125rem;
    padding-bottom: 1.25rem;
}

.services p{
    width: 70%;
    margin: auto;
    font-size: 1.25rem;
    padding-bottom: 1.875rem;
    font-weight: normal;
}

.showcase-section{
    width: 75%;
    margin: auto;
    gap: 0.8cm;
    padding: 3.75rem 0;
}

.showcase-section .showcase2{
    padding-top: 2.5rem;
}

.showcase-section .showcase1 p{
    width: 80%;
    padding-top: 3.125rem;
    margin: auto;
}

.showcase-section .showcase2 h1{
    font-size: 2.5rem;
    align-items: center;
}

.showcase-section .showcase2 h3{
    color: #e71a23;
    font-size: 1.875rem;
    padding-bottom: 4.375rem;
}

.subscribe-section{
    background-color: rgb(204, 204, 204);
    align-items: center;
    width: 100%;
    height: 43.75rem;
    overflow: hidden;
    padding: 0 6.25rem;
}

.image-subscribe img{
    width: 100%;
    padding-right: 1.875rem;
    padding-top: 3.75rem;
}

.subscribe-section .subscribe-text{
    width: 70%;
}

.subscribe-section .subscribe-text h1{
    color: rgb(25, 25, 184);
    font-size: 4.375rem;
}

.subscribe-section .subscribe-text hr{
    height: .6875rem;
    width: 95%;
    border: none;
    background-color: #e71a23;
    margin-bottom: 1.875rem;
}

.subscribe-section .subscribe-text h3{
    font-weight: normal;
    padding-bottom: 1.875rem;
    font-size: 1.375rem;
    width: 95%;
}

.handyman-services{
    padding: 1.875rem 6.25rem 6.25rem;
}

.workdone {
    padding-left: 1.875rem;
}

.workdone img{
    border-radius: 50%;
    width: 30%;
    height: auto;
    object-fit: scale-down;
    background-color: #e71a23;
}

.services-done h1{
    font-size: 2.8125rem;
    font-weight: bold;
    padding-left: 6.875rem;
    padding-top: 2.5rem;
}

.workdone h2{
    padding-top: .625rem;
}

.workdone p{
    font-style: italic;
    font-size: 1.25rem;
    font-weight: lighter;
    padding-top: .9375rem;
}

.about-section{
    background-color: #104e92;
    padding: 4.375rem 11.25rem;
    width: 100%;
    color: white;
    align-items: center;
}

.about-us{
    line-height: 1.2;
    width: 50%;
    text-align: justify;
}

.image-display{
    width: 50%;
    text-align: center;
}

.image-display img{
    width: 100%;
    height: auto;
}
 
.about-us .p-text{
    font-size: 6.25rem;
    font-weight: 500;
    padding-bottom: 0;
}

.about-us .s-text{
    font-size: 5rem;
    font-weight: 700;
}

.about-section .image-about-us .about-image{
    width: 15rem;
    height: 13.75rem;
    padding-right: 1.5625rem;
    padding-bottom: 1.5625rem;
    object-fit: cover;
}

.foot-sect{
    width: 60%;
    margin: auto;
    padding: 5rem;
    text-align: center;
}

.foot-sect h1{
    font-size: 2.1875rem;
    padding-bottom: 1.25rem;
}

.foot-sect p{
    font-size: 1.875rem;
    font-weight: 100;
    padding-bottom: 20px;
}

.foot-button{
    display: flex;
    justify-content: center;
    gap: 0.5cm;
}

.foot-button .btn-2{
    padding: 1.25rem 3.125rem;
    color: black;
    border: 1px solid black;
    border-radius: .3125rem;
    cursor: pointer;
}

.footer{
    text-align: center;
    color: white;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
    background-color: #333;
}

.footer p{
    font-size: .9375rem;
    width: 32%;
    margin: auto;
    padding-bottom: 4.375rem;
}

.footer span{
    font-size: .875rem;
}

@media (max-width: 990px) {
    body {
        width: 100%;
    }

    .header-section{
        width: 100%;
        background-position: 70% center;
        background-position-y: 100px;
    }
    
    .header-text .text-heading h1 {
        font-size: 4.05rem;    
        }
    
    
    .header-text .text-heading hr {
        height: 12px; 
        width: 70%;   
    }
    
    .header-text .text-heading h3 {
        font-size: 3.05rem;
    }
    
    .header-section .header-text .header-text-image {
        padding-top: 10px;
        gap: 2cm;
    }

    .header-section .header-text .text-heading{
        padding-top: 100px;
    }

    
    .services{
        width: 100%;
    }

    .showcase-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center; 
    }

    .showcase-section img{
        width: 600px;
        height: auto;
    }

    .showcase-section .showcase1 p{
        width: 60%;
        text-align: justify;
    }

    .subscribe-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        padding-bottom: 20px;
    }

    .subscribe-section .image-subscribe img{
        width: 350px;
    }

    .subscribe-section .subscribe-text h1{
        font-size: 35px;
    }

    .subscribe-section .subscribe-text h3{
    font-size: 15px;
    }

    .services-done .handyman-services .workdone p{
        padding-bottom: 20px;
    }

    .handyman-services{
        display: flex;
        flex-direction: row;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        padding-top: 4.375rem;
        padding-right: 25.25rem;
        padding-bottom: 4.375rem;
        align-items: center;
    }

    .image-display{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }

    .about-section .about-us .about-heading {
        display: flex;
        flex-direction: row;
    }

    .about-section .image-display .image-about-us img{
        width: 300px;
        height: 300px;
        padding-left: 0;
    }

    .about-section .about-us .p-text {
        font-size: 50px;
        padding-right: 20px;
    }

    .about-section .about-us .s-text {
    font-size: 50px;
    }

    .foot-sect{
        width: 100%;
    }

    .foot-sect h1{
        font-size: 35px;
        width: 80%;
        margin: auto;
    }

    .foot-sect p{
        font-size: 25px;
    }

    .footer {
        width: 100%;
    }

    .footer p{
        width: 70%;
    }
    
}

@media (max-width: 600px) {
    body{
        width: 100%;
    }

   .header-section{
       width: 100%;
       background-position-x: -31.25rem;
       background-position-y: 5.625rem;
   }

   .header-text .text-heading h1 {
        font-size: 2.75rem;    
    }

   .header-text .text-heading hr {
       height: .55rem; 
       width: 100%;   
   }

   .header-text .text-heading h3 {
    font-size: 2.25rem;
   }

    .header-section .header-text .text-heading{
    padding-top: 300px;
    }

   .header-text-image{
    display: none;
    }

    .services{
        width: 100%;
    }

    .services p{
        width: 100%;
        font-size: 15px;
    }

    .showcase-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }

    .showcase-section img{
        width: 400px;
        height: auto;
    }

    .showcase-section .showcase1 p{
        width: 80%;
    }

    .subscribe-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .handyman-services{
        display: flex;
        flex-direction: column;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .about-section .image-display .image-about-us img{
        width: 400px;
    }

    .image-display{
        display: flex;
        flex-direction: column;
    } 

    .foot-sect{
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer p{
        width: 70%;
    }

}

